<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complainant Information</title>
</head>

<body>
    <h2>Complainant Information Form</h2>
    <h3>
        <ul>
            {% for complainant in complainants %}
            <li>{{ complainant.id }}: <b>{{ complainant.casefile_no }}</b></li>
            {% endfor %}
        </ul>
    </h3>
    <form id="complainantForm" action="/submit_complainant_info" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <br><br>
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" value="Nigerian" readonly>
        <br><br>
        <label for="state">State:</label>
        <select id="state" name="state">
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <!-- Add options for all Nigeria states -->
        </select>
        <br><br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <br><br>
        <label for="occupation">Occupation:</label>
        <input type="text" id="occupation" name="occupation" required>
        <br><br>
        <label for="religion">Religion:</label>
        <select id="religion" name="religion">
            <option value="Islam">Islam</option>
            <option value="Christianity">Christianity</option>
            <option value="Traditional">Traditional</option>
            <option value="Others">Others</option>
        </select>
        <br><br>
        <label for="education">Education:</label>
        <select id="education" name="education">
            <option value="Primary">Primary</option>
            <option value="Secondary">Secondary</option>
            <option value="Tertiary">Tertiary</option>
        </select>
        <br><br>
        <label for="phone_no">Phone Number:</label>
        <input type="text" id="phone_no" name="phone_no" required>
        <br><br>

        <!-- Include additional fields as needed -->

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>

</html>