<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition Information</title>
</head>

<body>
    <h2>Petition Information Form</h2>
    <h3>
        <ul>
            {% for petition in petitions %}
            <li>{{ petition.id }}: <b>{{ petition.casefile_no }}</b></li>
            {% endfor %}
        </ul>
    </h3>
    <form id="petitionForm" action="/submit_petition_info" method="post">
        <label for="casefile_no">Casefile Number:</label>
        <input type="text" id="casefile_no" name="casefile_no" required>
        <br><br>
        <label for="cr_no">CR Number:</label>
        <input type="text" id="cr_no" name="cr_no" required>
        <br><br>
        <label for="date_received">Date Received:</label>
        <input type="date" id="date_received" name="date_received" required>
        <br><br>
        <label for="date_assigned">Date Assigned:</label>
        <input type="date" id="date_assigned" name="date_assigned" required>
        <br><br>
        <label for="amount_involved">Amount Involved:</label>
        <input type="number" id="amount_involved" name="amount_involved">
        <br><br>
        <label for="status_signal">Status Signal:</label>
        <select id="status_signal" name="status_signal">
            <option value="Convicted">Convicted</option>
            <option value="In-Progress">In-Progress</option>
        </select>
        <br><br>
        <label for="petition_source">Petition Source:</label>
        <select id="petition_source" name="petition_source">
            <option value="Intelligence">Intelligence</option>
            <option value="Regular-Complain">Regular-Complain</option>
        </select>
        <br><br>

        <!-- Include additional fields as needed -->

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>

</html>